@font-face {
  font-family: logo-font;
  src: url(./Norse-Bold.otf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background-clr: #f7f9fb;

	--primary-clr: #31708E;
	--secondary-clr: #5085A5;
	--tertiary-clr: #8FC1E3;
	
	--higlight-clr: #687864;
}
.container {
	background-color: var(--background-clr);
	width: 100vw;
	height: 100vh;
	display: flex;
}

.left-side {
	background: var(--tertiary-clr) center/cover url("./bgimg.jpg") no-repeat;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.rigth-side {
	background-color: var(--tertiary-clr);
	flex-grow: 4;
}

.logo {
	margin-top: 100px;
	padding: 0px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	background-color: rgb(104, 120, 100, 0.2);
	font-family: logo-font;
	font-size: 2.75em;
}

.left-side .footer {
	background-color: rgb(104, 120, 100, 0.4);
	display: flex;
	flex-direction: row-reverse;
}


@media only screen and (max-width: 1026px) {
	.left-side {
			display: none;
	}
}